<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="./img/favicon-32x32.png" type="image/x-icon">
    <title>Index</title>
</head>


<body>
    <div id="app" v-cloak>
        <header>
            <div class="d-md-flex justify-content-md-center divLogo">
                <h1 class="fs-4 p-1"><img src="./img/logo.png" alt="logo" class="logo"> Mindhub Brothers Bank</h1>
            </div>
            <nav class="navbarIndex navbar-expand-lg navbar-dark gradient p-1">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarText">
                        <ul class="navbar-nav mb-2 mb-lg-0 fs-5 w-50 justify-content-center gap-5 w-75">
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="d-flex justify-content-lg-center align-items-lg-center flex-column flex-lg-wrap">

            <section class="w-100 d-flex flex-wrap gap-5 justify-content-center mt-2">
                <h3 class="w-100 text-center">Know everything you can do with our bank</h3>

                <div class="w-50 cardIndex d-flex align-items-lg-center rounded">
                    <div><img src="./img/cuenta-bancaria-online.jpg" alt=""></div>
                    <div class="row g-0 cardIndexContain w-50 m-3 p-3">
                        <h5>Create your account at no additional cost</h5>
                        <p>Create your account quickly and safely and start trading with us</p>
                    </div>
                </div>

                <div class="w-50 cardIndex d-flex align-items-lg-center rounded">
                    <div><img src="./img/tarjetas.jpg" alt=""></div>
                    <div class="row g-0 cardIndexContain w-50 m-3 p-3">
                        <h5>We have a card designed for you</h5>
                        <p>Learn about our different types of cards and their benefits, you can get yours at no
                            additional cost</p>
                    </div>
                </div>
                <div class="w-50 cardIndex d-flex align-items-lg-center rounded">
                    <div><img src="./img/prestamos-bancariosjpg.jpg" alt=""></div>
                    <div class="row g-0 cardIndexContain w-50 m-3 p-3">
                        <h5>Your next loan in just a few clicks</h5>
                        <p>We have different types of loans, suitable for what you need</p>
                    </div>
                </div>
            </section>
            <div class="d-flex justify-content-lg-center align-items-lg-center flex-column flex-xl-row gap-4 mt-5">
                <div class="container m-auto" id="container">
                    <div class="form-container sign-up-container">
                        <form class="formIndex">
                            <h1>Create Account</h1>
                            <input type="text" placeholder="Name" v-model="firstName" required />
                            <input type="text" placeholder="Last Name" v-model="lastName" required />
                            <input type="email" placeholder="Email" v-model="emailRegister" required />
                            <input type="password" placeholder="Password" v-model="passwordRegister" required />
                            <button @click.prevent="register()" class="buttonLogin">Register</button>
                        </form>
                    </div>
                    <div class="form-container sign-in-container">
                        <form action="#">
                            <h1>Sign in</h1>
                            <input type="email" placeholder="Email" v-model="email" />
                            <input type="password" placeholder="Password" v-model="password" />
                            <button @click.prevent="login()" class="buttonLogin">Sign In</button>
                        </form>
                    </div>
                    <div class="overlay-container">
                        <div class="overlay">
                            <div class="overlay-panel overlay-left">
                                <h1>Welcome Back!</h1>
                                <p>To keep connected with us please login with your personal info</p>
                                <button class="ghost buttonLogin" id="signIn">Sign In</button>
                            </div>
                            <div class="overlay-panel overlay-right">
                                <h1>Register</h1>
                                <p>Enter your personal details</p>
                                <button class="ghost buttonLogin" id="signUp">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="./img/E-Wallet.gif" alt="bank" class="indexBank align-self-center">
            </div>
        </main>

        <footer class="gradient">
            <p class="footer text-center">Miranda Estupiñan - Mindhub Cohort 30 - Full Stack developer</p>
        </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./index.js"></script>
    <script src="./index2.js"></script>
</body>

</html>